@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    color: #ffffff;
}

body {
    margin: 0px;
}
.background{
    background-color:#000000;
    flex-wrap: wrap;
}
.pricing-plans{
    margin-top: 200px;
    color:#ff6e30;
}
p{
   
}
.cards{

   margin: 10px;
   display: flex;
}
.card1,.card2,.card3{
    background-color: #2c353d;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 220px;
}
.bt1,.bt3{
    color:#2c353d ;
}
.bt2{
    color: #ff6e30;
}
img{
    align-self: flex-end;
   
}
ul{
    flex-grow: 1;
}
button{
    text-align: center;
    height: 40px;
    font-weight:bolder;
    width: 180px;
    margin: 10px;
    border-radius: 10px;
}
